* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #aab8c5 !important;
    background-color: #3c4c6d !important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}