@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    color: #aab8c5 !important;
    -webkit-text-size-adjust: 100%;
    font-family: Nunito, sans-serif;
    background-color: #3c4c6d !important;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    color: #fff;
    background-color: #727cf5;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #37404a49;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #646b72;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5b6268;
}

.bg-transparent {
    background: transparent !important;
}